
body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #33cccc 0%, #99ff99 100%);
  background-size: 100%; /* Современные браузеры */
  display: flex;
  align-items: center;
  justify-content: center;
 }